# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Instrumented libraries
lib-cov

# Coverage directory
coverage/
*.lcov

# nyc test coverage
.nyc_output/

# Grunt storage
.grunt/

# Dependency directories
node_modules/
jspm_packages/
bower_components/
web_modules/

# Compiled binary addons
build/Release/

# TypeScript cache
*.tsbuildinfo

# NPM & Yarn directories and cache
.npm/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Linting caches
.eslintcache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# REPL history
.node_repl_history

# Yarn Integrity file
.yarn-integrity

# Dotenv environment variable files
.env
.env.*.local

# Build output and cache
.cache/
.parcel-cache/
.next/
out/
dist/
.nuxt/
.vuepress/dist/
.temp/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/

# IDE and editor-specific files
.vscode/
.tern-port
.vscode-test/
.idea/
